body {
	background-color: rgb(19, 168, 124);
}
h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
}
p {
    font-family: 'Quantico', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}